pydantic
langgraph
langchain
langchain-groq
langchain-core
langchain-community
ipykernel
python-dotenv
langgraph
langchain-tavily
arxiv
wikipedia
langgraph-cli[inmem]
langchain-google-genai
tiktoken
faiss-cpu
streamlit